@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

input, select, textarea {
  outline: none;
}

input:focus, select:focus, textarea:focus {
  ring: 2px;
}

